.following {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2rem;

  .team {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 0.2rem;

    button {
      color: red;
      background-color: #fff;
      border: 0;
      border-radius: 50%;
      font-size: 1rem;
      &:hover {
        background-color: lightgrey;
      }
    }
  }
}
